<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">

<h1>Just a moment :)</h1>
<!--     <navbar></navbar>
    <div id="main" ui-view></div> -->
    <a id="redirect" href="#" class="btn btn-info">To the Quest!</a>

    <script type="text/javascript">
        var isAndroid = (navigator.userAgent.match(/android/i) != null);
        var isIOS = (navigator.userAgent.match(/iPhone/i) != null);

        // Get namespace and room id's from current url.
        var url = window.location.href;
        var arr = url.split('_');
        var ns = arr[1];
        var room = arr[2];
        console.log('ns', ns, 'room', room);
        var desiredRedirect = 'geoquest://_' + ns + '_' + room;
        var androidIntent = '_' + ns + '_' + room;

        // attach custom url as an href to link
        if (isIOS) {
            $("#redirect").attr("href", desiredRedirect);
        } else if (isAndroid) {
            // attach custom url as an href to link
            $("#redirect").attr("href", 'intent://' + androidIntent + '#Intent;package=com.example.Geoquest;scheme=geoquest;end;')
        }

        // document.getElementById('redirect').click();


        // Build custom url link, and click link automatically
        // var link = document.createElement('a');
        // link.href = desiredRedirect;
        // document.body.appendChild(link);
        // link.click(); 

    </script>
    

</body>
</html>
